@import url('../css/reset.css');
@import url('../fonts/font.css');
@import url('../css/color.css');  
@import url('../css/utils.css');

body{
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.container-full{
    width: 100%;
}
/* TOP header */
.top-header {  
    display: flex;
    align-items: stretch;
    padding-top: 16px;
    padding-bottom: 16px;
}
.top-header p{
   font-size: 14px;
   text-align: center;
   flex-grow: 8;
} 
.top-header .language{
    flex-grow: 1;
}
.header{
    display: flex;
    justify-content: space-around; 
}
 
.header .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
  
.header .nav ul li {
    flex: 1;
}

.header .nav ul li a {
    text-decoration:  none;
    padding: 0 10px;
}

.right-section {
    display: flex;
}

.today-section{
    display: flex;
}

.retangle{
    height: 30px;
    width: 16px;
}

.today-section p{
    align-self: center;
}

.timer-section{
    display: flex;
    align-items: stretch;
}

.title{
    flex-grow: 2;
}
.title p{
    font-size: 30px;
}
.timer{
    flex-grow: 8;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    text-align: center;
}
.timer .date{
    font-size: 30px;
    font-weight:500;
    text-align:center;
}
.arrow{
    flex-grow: 2;
}

.flashsale{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    column-gap: 10px;
}
.product1{
    height: 250px;
    width: 270px;
}
.product1 img{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.button{
    border: none;
    text-align: center;
    padding: 12px;
    border-radius: 4%;
    font-size: 13px;
}
.categories-section{
    display: flex;
}
.retangle2{
    height: 40px;
    width: 20px;

}
.categories-section p{
   align-self: center;

}
.title2{
    flex-grow: 2;
}
.title2 p{
    font-size: 30px;
}
.arrow{
    flex-grow: 0;
}
.browse-items{
    display: flex;
    justify-content: space-between; 
}
.border-all{
    border: 1px solid rgb(236, 236, 236);
    /* height: 145px; */
    /* width: 170px; */
    padding: 20px 30px;
    font-size: 16px;

}
.browse-items .border-all:hover{
    background-color: #DB4444;
}
.border{
    border-bottom: 1px solid #000000;
    padding: 15px;
    opacity: 50%;
}
.retangle3{
    height: 40px;
    width: 20px;
}
.title3{
    flex-grow: 2;
}
.title3 p{
    font-size: 30px;
}
.month-section{
    display: flex;
    justify-content: space-between;
}
.month-section p{
    align-self: center;
}
.selling-product{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    column-gap: 10px;
}
.product2{
    height: 250px;
    width: 270px;
}
.product2 img{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.retangle4{
    height: 40px;
    width: 20px;
}
.ourproduct-section{
    display: flex;
}
.ourproduct-section p{
    align-self: center;
}
.title4{
    flex-grow: 2;
}
.title4 p{
    font-size: 30px;
}
.product3{
    height:732px;
    width: 1170px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}
.product3 >div{
    padding: 10px;
    font-size: 15px;
    text-align: left;
}
.product3 img{
    margin: 0 auto;
    display: flex;
    
}
.button1{
    border: none;
    text-align: center;
    padding: 12px;
    border-radius: 4%;
    font-size: 13px;
}
.retangle4{
    height: 40px;
    width: 20px;
}
.featured-section{
    display: flex;
}
.featured-section p{
    align-self: center;
}
.title5{
    flex-grow: 2;
}
.title5 p{
    font-size: 30px;
}
.arrival-section{
    display: flex;
    justify-content: space-between;
}
.arrival-section p{
    align-self: center;
}
.new-arrival{
    display:flex;
    height: 768px;
}
.playstation img{
    height: 600px;
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
      color: rgb(125, 10, 10);
}
.women-collection img{
    height: 284px;
    width: 570px;
}
.gucci{
    display: flex;
    padding: 20px;
}
.speakers img{
    height: 284px;
    align-items: center;
    justify-content: center;
}
.perfume img{
    height: 284px;
    align-items: center;
    justify-content: center;
}
.customer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 161px;
}
.free{
    width:249px;
    height:161px;
    text-align: center;
}
.free p{
    text-align: center;
    font-size: 10px;
    padding:10px ;
}
.footer{
        padding-bottom: 60px;
        padding-top: 60px;
        display: flex;
}
.exclusive p{
   color:white ;
   padding: 10px;
}

.support p{
    color:white ;
   padding: 10px;
}
.acc ul{
    color: white;
    line-height: 240%;
}
.acc p{
    color:white ;
    padding: 10px;
}
.quick p{
    color:white ;
    padding: 10px;
}
.download p{
    color:white ;
    padding: 10px;
}
.download ul{
    color: white; 
    line-height: 240%;
}
.border{
    border-bottom:#9b9b9b 1px solid ;
}
.account{
    display: flex;
    padding-top: 50px;
    /* width: 1305px;
    height: 781px; */
}
.details{
    /* text-align: center; */
}
.input{
    /* text-align: left; */
}
.input input{
    /* background: #f1f1f1;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none; */
}

.create-account{
    width: 370px;
    padding-left: 100px;
}
.account-input div {
    margin-bottom: 20px;

}
.account-input input{ 
    padding: 0px;
    width: 100%;
    background: #e5e5e5;
    border: none;
    padding: 10px 0;
    text-indent: 10px;
} 
.submit-button button{ 
    width: 100%;
} 
.signup{
    border: 2px solid rgb(205, 205, 205);
    padding: 8px;
}
.signup img{
    width:14px;
}
.already{
    text-align: center;
    text-decoration: underline;
}
.vl-innertext{
    text-align: center;
}
.fashion{
    display: flex;
}
.woman-fashion ul li{
    padding: 10px;
}
.border1{
    border-right:1px solid #9b9b9b;
    padding: 30px;
    margin-bottom: 2px;
    margin-top: -50px;
}
.log-in{
    width: 370px;
    padding-left: 100px;
}
.forget{
   color: #DB4444;
    padding: 78px;
}
.Wishlist{
    display: flex;
}
.title6{
    flex-grow: 2;
}
.title6 p{
    font-size: 20px;
}
.move-all p{
    border-style: solid;
  border-width: thin;
  padding: 15px;
}
.product{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    column-gap: 10px;
}
.foryou-section{
    display: flex;
   
}
.foryou-section p{
    align-items: center;
}
.home{
    padding: 60px;
    font-size: 14px;
}
.product4{
    display: flex;
    justify-content:space-around;
    text-align: center;


}
.notfound{
    text-align: center;
    font-size: 100px;
}
.error{
     text-align: center;
    font-size: 13px;
}
.ourstory{
    display: flex;
      text-align: center;

    justify-content: space-around;
}
.story{
    font-size: 50px;
}
.story-items{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    column-gap: 50px;
    text-align: center;
    padding: 50px 30px;
    font-size: 16px;
    padding-left: 250px;
}
.story-items .border-all:hover{
    background-color: #DB4444;
}
.intro{
    display: flex;
  justify-content: center;
  column-gap: 20px;
    padding: 50px 30px;
}
.person1{
    height: 435px;
    width: 350px;
}
.person1 img{
    margin: 0 auto;
    display: flex;
    padding-top: 36px;
}
.bill{
    padding-left: 50px;
    font-size: 35px;
}
.detail{
    display: flex;
    padding: 50px;
     justify-content: space-between;
}
.info{
    font-size: 14px;
    color: #b1b1b1;
    width: 470px;
    height: 50px;
}
.info input{
    width: 100%;
    background-color: #e5e5e5;
    border: none;
    padding: 10px 0;
    text-indent: 10px;
}
.price{
    display: flex;
    justify-content: space-between;
    width: 370px;
    margin: 14px;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
p.ridge {
    border: #000000 1px solid;
    padding: 12px;
    padding-left: 100px;
    border-radius: 5px;
}
.home2{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    font-size: 14px;
}
.Account3{
    display: flex;
        justify-content: space-between;
}
.manage{
    padding-left: 60px;
}
.edit{
        padding-inline-end: 620px;
}
.name2{
      display: grid;
  grid-template-columns: auto auto ;
  gap: 50px;
  padding: 30px;
}
.name2 input{
    width: 100%;
    background-color: #e5e5e5;
    border: none;
    padding: 10px 10PX;
    text-indent: 10px;
}
.A{
    display: flex;
        justify-content: flex-end;
    gap: 40px
}
.send{
    display: flex;
    padding: 60px;
}
.call h5{
    float: right;
    padding-right: 0px;
    font-size: 16px;
}